<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanqiu.oa.bean.departmentMapper">
    <resultMap id="departmentResultMap" type="com.yanqiu.oa.bean.OADepartment">
        <id property="departmentId" column="department_id" javaType="java.lang.Integer"/>
        <result property="departmentName" column="department_name" javaType="java.lang.String"/>

        <!--ofType是当前集合的泛型-->
        <collection property="oaUserList" ofType="com.yanqiu.oa.bean.OAUser">
            <id property="userId" column="user_id" javaType="java.lang.Integer"/>
            <result property="username" column="user_name" javaType="java.lang.String"/>
                <result property="userEmail" column="user_email" javaType="java.lang.String"/>
                <result property="userPassword" column="user_password" javaType="java.lang.Integer"/>
                <result property="userSex" column="user_sex" javaType="java.lang.Character"/>
        </collection>
    </resultMap>

    <select id="selectId" resultMap="departmentResultMap">
        select * from oa_department d join oa_user u on d.department_id = u.fk_department_id and d. department_id=#{id};
    </select>

    <select id="selectDepartment" resultMap="departmentResultMap">
    select * from oa_department
</select>


</mapper>