<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace,命名标签，当前文档的一个标识符-->
<mapper namespace="com.yanqiu.oa.bean.userMapper">

    <!--resultMap结果集的映射，id是当前的唯一标识-->
    <resultMap id="userResultMapper" type="com.yanqiu.oa.bean.OAUser">
        <id property="userId" column="user_id" javaType="java.lang.Integer"/>
        <result property="username" column="user_name" javaType="java.lang.String"/>
        <result property="userEmail" column="user_email" javaType="java.lang.String"/>
        <result property="userPassword" column="user_password" javaType="java.lang.Integer"/>
        <result property="userSex" column="user_sex" javaType="java.lang.Character"/>

        <!--多对一-->
        <association property="oaDepartment" javaType="com.yanqiu.oa.bean.OADepartment">
            <id property="departmentId" column="department_id" javaType="java.lang.Integer"/>
            <result property="departmentName" column="department_name" javaType="java.lang.String"/>
        </association>
    </resultMap>

    <!--查询语句,实体层属性与数据库不一致时只能用resultMap.并且值要与上面的id唯一值保持一致-->
    <select id="queryUser" resultMap="userResultMapper">
        select * from oa_user
    </select>

    <select id="queryUserById" resultType="com.yanqiu.oa.bean.OAUser">
        select * from oa_user where user_name=#{name}
    </select>

    <!--
    <select id="checkUser" resultType="com.qianfeng.oa.user.dto.UserDTO">
        select * from oa_user where user_name = #{name} and user_password=#{password}
    </select>

  resultType 结果集的类型：
    <select id="login" resultType="com.qianfeng.oa.user.dto.UserDTO">
        select * from oa_user where user_name = #{user_name} and user_password=#{user_password}
    </select>

   resultMap就是结果集映射
    <select id="queryUserByMap" resultMap="UserResultMap">
        select * FROM oa_user
    </select>

    <insert id="save">
        INSERT INTO oa_user(user_name,user_email,user_password,user_sex)
        VALUES(#{username},#{email},#{password},#{sex})
    </insert>

    <select id="queryUserByName" resultMap="UserResultMap">
        select * from oa_department d join oa_user u on d.department_id=u.fk_department_id and u.user_name=#{name}
    </select>-->
</mapper>